.hiddenCard{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}
.cardWithShadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}
.cardWithShadow:hover{
    -fx-opacity: 0.7;
}
.boardCard{
    -fx-background-size: 150 100;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.65), 13, 0.5, 0.0, 0.0);
}
.draggableCard{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 15, 0.5, 0.0, 0.0);
    -fx-background-size: 140 93;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-opacity: 0.4;
}
.scoreCard {
    -fx-background-image: url('images/interface/scoreCard.png');
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.chatTextBox{
    -fx-border-radius: 4 4 4 10;
    -fx-background-radius: 4 4 4 10;
}
.sendButton{
    -fx-border-radius: 4 4 10 4;
    -fx-background-radius: 4 4 10 4;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.sendButton:hover{
    -fx-border-radius: 4 4 10 4;
    -fx-background-radius: 4 4 10 4;
}
.sendButton .arrow-button{
    -fx-border-radius: 4 4 10 4;
    -fx-background-radius: 4 4 10 4;
}
.sendButton .context-menu{
    -fx-background-radius: 4;
}
.sendButtonEntry{
    -fx-font-family: "Fira Sans Condensed";
    -fx-font-size: 12;
    -fx-text-fill: #2f0606;
}
.widerWoodenBoard{
    -fx-background-image: url(images/interface/woodenFrameWider.png);
    -fx-background-size: stretch;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 6020;
}
.cardHandPanel{
    -fx-background-image: url(images/interface/cardHandPanel.png);
    -fx-background-size: stretch;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
    -fx-background-repeat: no-repeat;
}
.gameBoardScrollPane:focused{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.gameBoardScrollPane {
    -fx-background-color: transparent;
}
.playerTagGrid{
    -fx-background-color: #533333;
    -fx-background-radius: 0 0 16 16;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}
.chatScrollPane{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.chatUserLabel{
    -user-color: red;
    -fx-text-fill: -user-color;
    -fx-font-family: "Fira Sans Condensed";
    -fx-font-size: 14;
    -fx-padding: 8 0 0 0;
    -fx-wrap-text: true;
}
.chatMessageLabel{
    -fx-padding: 0 0 8 0;
    -fx-font-family: "Fira Sans Condensed";
    -fx-font-size: 14;
    -fx-wrap-text: true;
}
.toastNotificationLabel{
    -fx-background-color: #E4DFB5;
    -fx-background-radius: 18;
    -fx-border-color: #A49E22;
    -fx-border-radius: 15;
    -fx-border-width: 4px;
    -fx-font-family: "Fira Sans Condensed SemiBold";
    -fx-font-size: 18;
    -fx-text-fill: #2f0606;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}
.playerTagCircle{
    -circle-color: red;
    -fx-fill: -circle-color;
}
.playerTagText{
    -fx-font-family: "Fira Sans Condensed SemiBold";
    -fx-font-size: 16;
    -fx-text-fill: #FFFFFF;
}
.playerTagText:disabled{
    -fx-font-family: "Fira Sans Condensed SemiBold";
    -fx-font-size: 16;
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 0.7;
}
.viewBoardIcon{
    -fx-image: url("images/interface/viewBoardIcon.png");
}
.viewBoardIcon:disabled{
    -fx-opacity: 0.5;
}
.playerTagIcon:hover{
    -fx-opacity: 0.5;
}
.hideBoardIcon{
    -fx-image: url("images/interface/hideBoardIcon.png");
}
.objectivesPane{
    -fx-background-color: #E4DFB5;
    -fx-background-radius: 0 18 18 0;
    -fx-border-color: #A49E22;
    -fx-border-radius: 0 15 15 0;
    -fx-border-width: 6 6 6 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}
.objectivesTitleBackground{
    -fx-background-color: #E8DF92;
    -fx-background-radius: 0 15 0 0;
}
.objectiveButtonPane{
    -fx-background-color: #E8DF92;
    -fx-background-radius: 0 15 15 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}
.objectivesButton:hover{
    -fx-opacity: 0.5;
}
.objectivesButton:disabled{
    -fx-opacity: 0.5;
}
.cardSideSelectionPane{
    -fx-background-color: #E4DFB5;
    -fx-background-radius: 18 18 18 18;
    -fx-border-color: #2f0606;
    -fx-border-radius: 15 15 15 15;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.1, 0.0, 0.0);
}
.resultsScrollPane{
    -fx-color: #E4DFB5;
    -fx-background-color: #E4DFB5;
}
.resultsGridPane{
    -fx-background-color: #E4DFB5;
}
.redToken{
    -fx-image: url("images/tokens/red.png")
}
.blueToken{
    -fx-image: url("images/tokens/blue.png")
}
.greenToken{
    -fx-image: url("images/tokens/green.png")
}
.purpleToken{
    -fx-image: url("images/tokens/purple.png")
}
.playerScoreNameLabel{
    -text-color: red;
    -fx-font-family: "Fira Sans Condensed SemiBold";
    -fx-font-size: 18;
    -fx-text-fill: -text-color;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-max-width: infinity;
    -fx-max-height: infinity;
}
.playerScoreLabel{
    -fx-font-family: "Fira Sans Condensed";
    -fx-font-size: 18;
    -fx-text-fill: #2f0606;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-max-width: infinity;
    -fx-max-height: infinity;
}
.playerScoreLabelBold{
    -fx-font-family: "Fira Sans Condensed SemiBold";
    -fx-font-size: 18;
    -fx-text-fill: #2f0606;
    -fx-start-margin: 8;
    -fx-end-margin: 8;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-max-width: infinity;
    -fx-max-height: infinity;
}
.crownIcon{
    -fx-image: url("images/interface/winnerIcon.png");
    -fx-translate-y: -24;
}
.objectiveBox{
    -fx-padding: 4 0 4 32;
}
.blueBorder{
    -fx-border-color: blue;
    -fx-border-radius: 3;
}