.mainBg {
    -fx-background-image:url('images/minicodexBG.png');
    -fx-background-size: 75 75;
}
.woodenPanel{
    -fx-background-image:url('images/WoodenFrame.png');
    -fx-background-size: stretch;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
    -fx-background-repeat: no-repeat;
}
.menuCard{
  -fx-background-color: #E4DFB5;
  -fx-background-radius: 18;
  -fx-border-color: #A49E22;
  -fx-border-radius: 15;
  -fx-border-width: 6px;
}
.radioButtons{
  -fx-color:  #E4DFB5;
}
.titleBackground{
  -fx-background-color: #E8DF92;
  -fx-background-radius: 15 15 0 0;
}
.titleDivider{
  -fx-background-color: #2f0606;
}
.button:hover{
  -fx-color: #FFFCDD;
  -fx-background-radius: 16;
  -fx-background-color: #FFFCDD;
  -fx-border-color: #2f0606;
  -fx-border-radius: 8;
  -fx-border-width: 2px;
}
.button:pressed{
  -fx-color: #FFF6A7;
  -fx-background-radius: 16;
  -fx-background-color: #FFF6A7;
  -fx-border-color: #2f0606;
  -fx-border-radius: 8;
  -fx-border-width: 2px;
}
.button{
  -fx-color: #FFF8B8;
  -fx-background-radius: 16;
  -fx-background-color: #FFF8B8;
  -fx-border-color: #2f0606;
  -fx-border-radius: 8;
  -fx-border-width: 2px;
}
.textField{
  -fx-color: #FFFCE2;
  -fx-background-radius: 8;
  -fx-background-color: #FFFCE2;
  -fx-border-color: #2f0606;
  -fx-border-radius: 8;
  -fx-border-width: 2px;
  -fx-text-fill: #2f0606;
}
.matchScrollView{
  -fx-color: #FFFCE2;
  -fx-background-radius: 8;
  -fx-background-color: #FFFCE2;
  -fx-border-color: #2f0606;
  -fx-border-radius: 8;
  -fx-border-width: 2px;
  -fx-region-background: #FFFCE2;
  -fx-text-fill: #2f0606;
}
.matchScrollView .viewport{
  -fx-color: #FFFCE2;
  -fx-background-radius: 8;
  -fx-background-color: #FFFCE2;
  -fx-region-background: #FFFCE2;
  -fx-text-fill: #2f0606;
}
.matchScrollView .scroll-bar{
  -fx-color: #E4DFB5;
}
.matchScrollView .scroll-bar:hover{
  -fx-color: #FFFCDD;
}
.matchScrollView .scroll-bar .track{
  -fx-background-color: #E4DFB5;
}
.matchScrollView .scroll-bar .increment-button{
  -fx-background-color: #E4DFB5;
}
.matchScrollView .scroll-bar .decrement-button{
  -fx-background-color: #E4DFB5;
}
.tableButton{
  -fx-color: #2f0606;
  -fx-text-fill: #2f0606;
  -fx-background-color: transparent;
  -fx-background-radius: 0;
  -fx-border-color: transparent;
  -fx-border-radius: 0;
  -fx-border-width: 0px;
  -fx-font-family: "Fira Sans Condensed";
  -fx-font-size: 16;
  -fx-padding: 0 0 0 18;
}

.tableButton:hover{
  -fx-color: #2f0606;
  -fx-text-fill: #2f0606;
  -fx-background-color: #E8DF92;
  -fx-background-radius: 0;
  -fx-border-color: transparent;
  -fx-border-radius: 0;
  -fx-border-width: 0px;
}
.tableButton:pressed{
  -fx-color: #2f0606;
  -fx-text-fill: #2f0606;
  -fx-background-color: #A49E22;
  -fx-border-color: transparent;
  -fx-background-radius: 0;
  -fx-border-radius: 0;
  -fx-border-width: 0px;
}
.tableButton:selected{
  -fx-color: #2f0606;
  -fx-text-fill: #2f0606;
  -fx-background-color: #fff951;
  -fx-border-color: transparent;
  -fx-background-radius: 0;
  -fx-border-radius: 0;
  -fx-border-width: 0px;
}
.hoveredTableButton{
  -fx-color: #2f0606;
  -fx-text-fill: #2f0606;
  -fx-background-color: #E8DF92;
  -fx-background-radius: 0;
  -fx-border-color: transparent;
  -fx-border-radius: 0;
  -fx-font-family: "Fira Sans Condensed";
  -fx-font-size: 16;
  -fx-border-width: 0px;
  -fx-padding: 0 0 0 18;
}
.pressedTableButton{
  -fx-color: #2f0606;
  -fx-text-fill: #2f0606;
  -fx-background-color: #A49E22;
  -fx-border-color: transparent;
  -fx-background-radius: 0;
  -fx-border-radius: 0;
  -fx-border-width: 0px;
  -fx-font-family: "Fira Sans Condensed";
  -fx-font-size: 16;
  -fx-padding: 0 0 0 18;
}
.popUpBackground{
  -fx-background-color: rgba(0,0,0,0.5)
}


