.mainBg {
    -fx-background-image:url('images/minicodexBG.png');
    -fx-background-size: 75 75;
}
.woodenPanel{
    -fx-background-image:url('images/WoodenFrame.png');
    -fx-background-size: stretch;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
    -fx-background-repeat: no-repeat;
}
.menuCard{
  -fx-background-color: #E4DFB5;
  -fx-background-radius: 18;
  -fx-border-color: #A49E22;
  -fx-border-radius: 15;
  -fx-border-width: 6px;
}
.radioButtons{
  -fx-color: #E4DFB5;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
}
.titleBackground{
  -fx-background-color: #E8DF92;
  -fx-background-radius: 15 15 0 0;
}
.titleDivider{
  -fx-background-color: #2f0606;
}
.button:hover{
  -fx-color: #FFFCDD;
  -fx-background-radius: 16;
  -fx-background-color: #FFFCDD;
  -fx-border-color: #2f0606;
  -fx-border-radius: 8;
  -fx-border-width: 2px;
}
.button:pressed{
  -fx-color: #FFF6A7;
  -fx-background-radius: 16;
  -fx-background-color: #FFF6A7;
  -fx-border-color: #2f0606;
  -fx-border-radius: 8;
  -fx-border-width: 2px;
}
.button{
  -fx-color: #FFF8B8;
  -fx-background-radius: 16;
  -fx-background-color: #FFF8B8;
  -fx-border-color: #2f0606;
  -fx-border-radius: 8;
  -fx-border-width: 2px;
}
.textField{
  -fx-color: #FFFCE2;
  -fx-background-radius: 8;
  -fx-background-color: #FFFCE2;
  -fx-border-color: #2f0606;
  -fx-border-radius: 8;
  -fx-border-width: 2px;
  -fx-text-fill: #2f0606;
}
.matchScrollView{
  -fx-color: #FFFCE2;
  -fx-background-radius: 8;
  -fx-background-color: #FFFCE2;
  -fx-border-color: #2f0606;
  -fx-border-radius: 8;
  -fx-border-width: 2px;
  /*-fx-region-background: #FFFCE2;*/
  -fx-text-fill: #2f0606;
}
.matchScrollView .viewport{
  -fx-color: #FFFCE2;
  -fx-background-radius: 8;
  -fx-background-color: #FFFCE2;
  /*-fx-region-background: #FFFCE2;*/
  -fx-text-fill: #2f0606;
}
.matchScrollView .scroll-bar{
  -fx-color: #E4DFB5;
}
.matchScrollView .scroll-bar:hover{
  -fx-color: #FFFCDD;
}
.matchScrollView .scroll-bar .track{
  -fx-background-color: #E4DFB5;
}
.matchScrollView .scroll-bar .increment-button{
  -fx-background-color: #E4DFB5;
}
.matchScrollView .scroll-bar .decrement-button{
  -fx-background-color: #E4DFB5;
}
.tableButton{
  -fx-color: #2f0606;
  -fx-text-fill: #2f0606;
  -fx-background-color: transparent;
  -fx-background-radius: 0;
  -fx-border-color: transparent;
  -fx-border-radius: 0;
  -fx-border-width: 0px;
  -fx-font-family: "Fira Sans Condensed";
  -fx-font-size: 16;
  -fx-padding: 8 0 8 8;
}
.tableButton:hover{
  -fx-color: #2f0606;
  -fx-text-fill: #2f0606;
  -fx-background-color: #E8DF92;
  -fx-background-radius: 0;
  -fx-border-color: transparent;
  -fx-border-radius: 0;
  -fx-border-width: 0px;
}
.tableButton:pressed{
  -fx-color: #2f0606;
  -fx-text-fill: #2f0606;
  -fx-background-color: #dac224;
  -fx-border-color: transparent;
  -fx-background-radius: 0;
  -fx-border-radius: 0;
  -fx-border-width: 0px;
}
.tableButton:selected{
  -fx-color: #2f0606;
  -fx-text-fill: #2f0606;
  -fx-background-color: #d5c14e;
  -fx-border-color: transparent;
  -fx-background-radius: 0;
  -fx-border-radius: 0;
  -fx-border-width: 0px;
}
.hoveredTableButton{
  -fx-color: #2f0606;
  -fx-text-fill: #2f0606;
  -fx-background-color: #E8DF92;
  -fx-background-radius: 0;
  -fx-border-color: transparent;
  -fx-border-radius: 0;
  -fx-font-family: "Fira Sans Condensed";
  -fx-font-size: 16;
  -fx-border-width: 0px;
  -fx-padding: 8 0 8 8;
}
.pressedTableButton{
  -fx-color: #2f0606;
  -fx-text-fill: #2f0606;
  -fx-background-color: #c8b967;
  -fx-border-color: transparent;
  -fx-background-radius: 0;
  -fx-border-radius: 0;
  -fx-border-width: 0px;
  -fx-font-family: "Fira Sans Condensed";
  -fx-font-size: 16;
  -fx-padding: 8 0 8 8;
}
.popUpBackground{
  -fx-background-color: rgba(0,0,0,0.5)
}
.hyperlink:focused{
  -fx-border-color: transparent;
}
.hyperlink:visited{
  -fx-underline: false;
}
.hyperlink:hover{
  -fx-underline: true;
}
.colorRadioButton{
  -radio-color: red;
  -fx-color: -radio-color;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
}
.playerEntry:disabled{
  -radio-color: red;
  -fx-text-fill: #2f0606;
  -fx-font-family: "Fira Sans Condensed";
  -fx-font-size: 18;
  -fx-color: -radio-color;
  -fx-opacity: 1;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
}
.colorRadioButton .dot{
  -fx-opacity: 0;
  -fx-visibility: 0;
}
.colorRadioButton:selected .radio{
  -fx-border-width: 2;
  -fx-border-color: #2f0606;
  -fx-border-radius: 200;
  -fx-color: -radio-color;
}
.colorRadioButton:hover .radio{
  -fx-color: -radio-color;
}
.backButton:hover {
  -fx-opacity: 0.5 ;
}
.cardWithShadow {
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}
.cardWithShadow:hover{
  -fx-opacity: 0.2;
}
.scoreCard {
  -fx-background-image: url('images/scoreCard.png');
  -fx-background-size: stretch;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}
.chatTextBox{
  -fx-border-radius: 4 4 4 10;
  -fx-background-radius: 4 4 4 10;
}
.sendButton{
  -fx-border-radius: 4 4 10 4;
  -fx-background-radius: 4 4 10 4;
}
.sendButton:hover{
  -fx-border-radius: 4 4 10 4;
  -fx-background-radius: 4 4 10 4;
}
.sendButton .arrow-button{
  -fx-border-radius: 4 4 10 4;
  -fx-background-radius: 4 4 10 4;
}
.widerWoodenBoard{
  -fx-background-image: url(images/WoodenFrameWider.png);
  -fx-background-size: stretch;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
  -fx-background-repeat: no-repeat;
  -fx-background-radius: 6020;
}
.cardHandPanel{
  -fx-background-image: url(images/CardHandPanel.png);
  -fx-background-size: stretch;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
  -fx-background-repeat: no-repeat;
  }
.gameBoardScrollPane:focused{
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
}
.gameBoardScrollPane {
  -fx-background-color: transparent;
}
.playerTagGrid{
  -fx-background-color: #533333;
  -fx-background-radius: 0 0 16 16;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}
.chatUserLabel{
  -user-color: red;
  -fx-text-fill: -user-color;
  -fx-font-family: "Fira Sans Condensed";
  -fx-font-size: 14;
  -fx-padding: 8 0 0 0;
  -fx-wrap-text: true;
}
.chatMessageLabel{
  -fx-padding: 0 0 8 0;
  -fx-font-family: "Fira Sans Condensed";
  -fx-font-size: 14;
  -fx-wrap-text: true;
}
.toastNotificationLabel{
  -fx-background-color: #E4DFB5;
  -fx-background-radius: 18;
  -fx-border-color: #A49E22;
  -fx-border-radius: 15;
  -fx-border-width: 4px;
  -fx-font-family: "Fira Sans Condensed SemiBold";
  -fx-font-size: 18;
  -fx-text-fill: #2f0606;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}
.playerTagCircle{
  -circle-color: red;
  -fx-fill: -circle-color;
}
.playerTagText{
  -fx-font-family: "Fira Sans Condensed SemiBold";
  -fx-font-size: 16;
  -fx-text-fill: #FFFFFF;
}
.viewBoardIcon{
  -fx-image: url("images/viewBoardIcon.png");
}
.playerTagIcon:hover{
  -fx-opacity: 0.5;
}
.hideBoardIcon{
  -fx-image: url("images/hideBoardIcon.png");
}
.objectivesPane{
  -fx-background-color: #E4DFB5;
  -fx-background-radius: 0 18 18 0;
  -fx-border-color: #A49E22;
  -fx-border-radius: 0 15 15 0;
  -fx-border-width: 6 6 6 0;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}
.objectivesTitleBackground{
  -fx-background-color: #E8DF92;
  -fx-background-radius: 0 15 0 0;
}
.objectiveButtonPane{
  -fx-background-color: #E8DF92;
  -fx-background-radius: 0 15 15 0;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}
.objectivesButton:hover{
  -fx-opacity: 0.5;
}
.objectivesButton:disabled{
  -fx-opacity: 0.5;
}
.cardSideSelectionPane{
  -fx-background-color: #E4DFB5;
  -fx-background-radius: 18 18 18 18;
  -fx-border-color: #2f0606;
  -fx-border-radius: 15 15 15 15;
  -fx-border-width: 2;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.1, 0.0, 0.0);
}
.resultsScrollPane{
  -fx-color: #E4DFB5;
  -fx-background-color: #E4DFB5;
}
.resultsGridPane{
  -fx-background-color: #E4DFB5;
}
.redToken{
  -fx-image: url("images/tokens/red.png")
}
.blueToken{
  -fx-image: url("images/tokens/blue.png")
}
.greenToken{
  -fx-image: url("images/tokens/green.png")
}
.purpleToken{
  -fx-image: url("images/tokens/purple.png")
}